task: train

defaults:
  - validation: ../validation

epoch: 4

data:
  batch_size: 32
  image_size: ${image_size}
  cpu_num: 1
  shuffle: True
  pin_memory: True
  data_augment:
    Mosaic: 1
    # MixUp: 1
    # HorizontalFlip: 0.5
    RandomCrop: 0
    RemoveOutliers: 0

optimizer:
  type: AdamW
  args:
    lr: 1e-5
    weight_decay: 0.01
    # momentum: 0.937
    # nesterov: true

loss:
  objective:
    BCELoss: 0.5
    BoxLoss: 7.5
    DFLoss: 1.5
  aux:
    0.25
  matcher:
    iou: CIoU
    topk: 10
    factor:
      iou: 6.0
      cls: 0.5

scheduler:
  type: LinearLR
  warmup:
    epochs: 3.0
  args:
    total_iters: ${task.epoch}
    start_factor: 1
    end_factor: 0.01

ema:
  enable: true
  decay: 0.9999
